<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">

    var exports = this;
    jQuery(function(){
        new GenericAboutPage({el: $("body")});      
    });     
  </script>
<%end%>

<div id='content'>
  <div id='aboutpage'>
    <h1>A collaboration between SETI Institute, TED, Science Channel and Zooniverse.</h1>
    <div id="about_menu">
      <p><%= link_to "Organisations", "#organisations" %></p><p><%= link_to "Development", "#development" %></p><p><%= link_to "Science Team", "#scienceteam" %> </p><p><%= link_to "Contact", "#contact" %></p>
    </div>
    
    <div class="section_title"><a name="organisations"></a>Organisations</div>
    
    <div class="team_member">
      <div class="team_logo"><%= image_tag "team/logo_adler.png", :style => "padding-bottom:55px" %></div>
      <div class="team_text"><p class="team_name">Adler Planetarium, Chicago</p>The Adler Planetarium - America's First Planetarium - was founded in 1930 by Chicago business leader Max Adler. The museum is home to three full-size theaters, extensive space science exhibitions, and one of the world's most important antique astronomical instrument collections on display. The Adler is a recognised leader in science education, with a focus on inspiring young people, particularly women and minorities, to pursue careers in science.</div>
    </div>
    
    <div class="team_member">
      <div class="team_logo"><%= image_tag "team/logo_discovery.png", :style => "padding-bottom:75px;" %></div>
      <div class="team_text"><p class="team_name">Science Channel</p>SCIENCE, a division of Discovery Communications, Inc. (Nasdaq: DISCA, DISCB, DISCK), is home for the thought provocateur, the individual who is unafraid to ask the killer questions of 'how' and 'why not'. The network is a playground for those with audacious intellects and features programming willing to go beyond imagination to explore the unknown.  Guided by curiosity, SCIENCE looks for innovation in mysterious new worlds as well as in its own backyard. SCIENCE and the SCIENCE HD simulcast reach more than 68 million U.S. households. The network also features high-traffic online and social media destinations, including <%= link_to "ScienceChannel.com", "http://sciencechannel.com", :target => "_blank" %>, <%= link_to "facebook.com/ScienceChannel", "http://facebook.com/ScienceChannel", :target => "_blank" %> and <%= link_to "twitter.com/ScienceChannel", "http://twitter.com/ScienceChannel", :target => "_blank" %>.</div>
    </div>

    <div class="team_member">
      <div class="team_logo"><%= image_tag "team/logo_pusher.png", :style => "width: 160px" %></div>
      <div class="team_text"><p class="team_name">Pusher</p>Pusher is a hosted API for quickly, easily and securely adding scalable realtime functionality to web and mobile apps. We believe that your developer time is best spent making awesome features, not creating infrastructure. Our customers use Pusher to build features such as notifications, activity streams, chat, data visualisations, Social TV experiences and multiplayer games.</div>
    </div>
        
    <div class="team_member">
      <div class="team_logo"><%= image_tag "team/logo_seti.png", :style => "" %></div>
      <div class="team_text"><p class="team_name">SETI Institute</p>The mission of the SETI Institute is to explore, understand and explain the origin, nature and prevalence of life in the universe. The SETI Institute is a private, nonprofit organization dedicated to scientific research, education and public outreach.</div>
    </div> 
    
    <div class="team_member">
      <div class="team_logo"><%= image_tag "team/logo_ted.png", :style => "padding-bottom:40px" %></div>
      <div class="team_text"><p class="team_name">TED</p>TED is a nonprofit organization devoted to Ideas Worth Spreading. Started as a four-day conference in California 25 years ago, TED has grown to support those world-changing ideas with multiple initiatives. The annual TED Conference invites the world's leading thinkers and doers to speak for 18 minutes.</div>
    </div>
    
    <div class="team_member">
      <div class="team_logo"><%= image_tag "team/logo_zooniverse.png", :style => "padding-bottom: 70px;" %></div>
      <div class="team_text"><p class="team_name">Zooniverse</p>The Zooniverse and the suite of projects it contains is produced, maintained and developed by the Citizen Science Alliance. The member institutions of the CSA work with many academic and other partners around the world to produce projects that use the efforts and ability of volunteers to help scientists and researchers deal with the flood of data that confronts them.</div>
    </div>

    <div class="section_title"><a name="development"></a>Development</div>
    
    <div class="team_member">
      <div class="team_logo"><%= image_tag "team/circle_brian.png", :style => "" %></div>
      <div class="team_text" style="min-height:150px"><p class="team_name">Brian Carstensen</p>Brian is a web developer working on the Zooniverse family of projects at the Adler Planearium. Brian has a degree in graphic design from Columbia College in Chicago, and worked in that field for a number of years before finding a niche in web development.</div>
    </div>
    
    <div class="team_member">
      <div class="team_logo"><%= image_tag "team/circle_stuart.png", :style => "" %></div>
      <div class="team_text"><p class="team_name">Stuart Lynn</p>Stuart started off life studying Mathematical physics at Edinburgh University before deciding astronomy was prettier and easier to explain in bars and obtained a Ph.D. in astrophysics. He currently works at the Adler Planetarium as a developer for the Zooniverse and is passionate about getting the everyone involved in doing real science. When not working, he enjoys hacking on anything that's to hand and working on fun side projects.</div>
    </div>
    
    <div class="team_member">
      <div class="team_logo"><%= image_tag "team/circle_dave.png", :style => "" %></div>
      <div class="team_text"><p class="team_name">David Miller</p>As a visual communicator, David is passionate about tellings stories through clear, clean, and effective design. Before joining the Zooniverse team as Visual Designer, David worked for The Raindance Film Festival, the News 21 Initiative's Apart From War, Syracuse Magazine, and as a freelance designer for his small business, Miller Visual. David is a graduate of the S.I. Newhouse School of Public Communications at Syracuse University, where he studied Visual &amp; Interactive Communications.</div>
    </div>
    

    <div class="team_member">
      <div class="team_logo"><%= image_tag "team/circle_michael.png", :style => "" %></div>
      <div class="team_text"><p class="team_name">Michael Parrish</p>Michael has a degree in Computer Science and has been working with The Zooniverse for the past three years as a Software Developer. Aside from web development; new technologies, science, AI, reptiles, and coffee tend to occupy his attention.</div>
    </div>
    
    <div class="team_member">
      <div class="team_logo"><%= image_tag "team/circle_arfon.png", :style => "" %></div>
      <div class="team_text"><p class="team_name">Arfon Smith</p>As an undergraduate, Arfon studied Chemistry at the University of Sheffield before completing his Ph.D. in Astrochemistry at The University of Nottingham in 2006. He worked as a senior developer at the Wellcome Trust Sanger Institute (Human Genome Project) in Cambridge before joining the Galaxy Zoo team in Oxford. Over the past 3 years he has been responsible for leading the development of a platform for citizen science called Zooniverse. In August of 2011 he took up the position of Director of Citizen Science at the Adler Planetarium where he continues to lead the software and infrastructure development for the Zooniverse.</div>
    </div>

    <div class="section_title"><a name="scienceteam"></a>Science Team</div>
     <div class="team_member">
      <div class="team_logo"><%= image_tag "team/circle_lou.png", :style => "" %></div>
      <div class="team_text"><p class="team_name">Lou Nigra</p>Lou Nigra left a 25 year career in Electrical Engineering as a specialist in radio frequency systems in 2003 to pursue an Astronomy career, getting a M.S. in Physics along the way. He recently obtained his Ph.D. in Astronomy from the University of Wisconsin - Madison and joined the zooniverse team. In his engineering career, he worked on a wide range of products from military radar countermeasures equipment to mobile phones and was awarded four patents. His research is grounded in Radio Astronomy and includes the design of a system to remove interfering GPS satellite signals from the Arecibo radio telescope.</div>
    </div>
    
    <div class="team_member">
      <div class="team_logo"><%= image_tag "team/circle_jon.png", :style => "" %></div>
      <div class="team_text"><p class="team_name">Jon Richards</p>Jon Richards is a Senior Software Engineer who has responsibilities on several projects at the SETI Institute. He works on the Allen Telescope Array (ATA) software and hardware control systems. This involves maintaining and improving the software that operates the 42 - 6 meter receiving dishes, maintaining and developing electronic controls, and developing/improving the software that analyzes the received data for signals. Jon is also working on the SETILive project, tying the data gathering and analysis system at the ATA to the cloud infrastructure.</div>
    </div>
    
    <div class="team_member">
      <div class="team_logo"><%= image_tag "team/circle_jill.png", :style => "" %></div>
      <div class="team_text"><p class="team_name">Jill Tarter</p>Jill Tarter holds the Bernard M. Oliver Chair for SETI (Search for Extraterrestrial Intelligence) and is Director of the Center for SETI Research at the SETI Institute in Mountain View, Ca. Tarter received her Bachelor of Engineering Physics Degree with Distinction from Cornell University and her Master's Degree and a Ph.D. in Astronomy from the University of California, Berkeley. She is a Fellow of the AAAS, and the CAS, where she also serves on the Board of Trustees. She is passionate about science education and public engagement in science and strives to secure funding for SETI research, particularly with the ATA. Tarter’s work has brought her wide recognition, including two Public Service Medals from NASA and the Carl Sagan Prize for Science Popularization. In 2004 Time Magazine named her one of the Time 100 most influential people in the world. Tarter was one of three TED prizewinners in 2009, and was a recipient of the Silicon Valley Women of Influence 2010 Award. Many people are now familiar with her work as portrayed by Jodie Foster in the movie Contact.</div>
    </div>

  </div>
</div>