<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">

    var exports = this;
    jQuery(function(){
        new GenericAboutPage({el: $("body")});      
    });     
  </script>
<%end%>

<div id='content'>
  <div id='aboutpage'>
    <h1>SETILIVE is a collaboration between SETI Institute, TED, Science Channel and Zooniverse.</h1>
    <div id="about_menu">
      <p><%= link_to "Organisations", "#organisations" %></p><p><%= link_to "Development", "#development" %></p><p><%= link_to "Science Team", "#scienceteam" %> </p><p><%= link_to "Contact", "#contact" %></p>
    </div>
    
    <div class="section_title">Organisations</div>
    <div class="team_member">
      <div class="team_logo"><%= image_tag "ted_logo.jpg" %></div>
      <div class="text_logo"><p class="team_name">TED</p>TED is a nonprofit organization devoted to Ideas Worth Spreading. Started as a four-day conference in California 25 years ago, TED has grown to support those world-changing ideas with multiple initiatives. The annual TED Conference invites the world's leading thinkers and doers to speak for 18 minutes.</div>
    </div>
    
  </div>
</div>