<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>SETILive</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://js.pusher.com/1.11/pusher.min.js" type=
  "text/javascript" charset="utf-8"></script>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1224199-29']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>  
</head>
<body>
    <%= render :partial=>'shared/zooniverse_bar' %>

    <div id="top"></div>

    <ul id="notification_bar"></ul>
    
    <section></section>
    <%= yield %>

    <div id="footer">
      <div class="container">
        <p><%= link_to "SETILIVE", "/" %></p>
        <p id="science-logo" class="left logo"><a href="http://science.discovery.com/tv/are-we-alone/" target="blank"><img src="/assets/logo_discovery_footer.png"></img></a></p>
        <p id="ted-logo" class="left logo"><a href="http://www.ted.com/" target="blank"><img src="/assets/logo_ted_footer.png"></img></a></p>
        <p id="seti-logo" class="left logo"><a href="http://www.seti.org/" target="blank"><img src="/assets/logo_seti_footer.png"></img></a></p>
        <p class="right"><%= link_to "CONTACT", "/#/about/team" %></p>
        <p class="right"><%= link_to "TEAM", "/#/about/team" %></p>
        <p class="right"><%= link_to "ABOUT", "/#/about" %></p>
      </div>
    </div>

    <script type="text/javascript" charset="utf-8">
      var exports = this;
      jQuery(function(){
          new App({el: $('section')});      
      });     
    </script>
  </body>
</html>
