<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <title>SETILive</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="http://js.pusher.com/1.11/pusher.min.js" type=
  "text/javascript" charset="utf-8"></script>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1224199-29']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  
  <%= airbrake_javascript_notifier %>

  
  
</head>
<body>
    <%= render :partial=>'shared/zooniverse_bar'%>

    <div id='top'></div>
    <div id='star_field' class= <%= @small_star_field ? 'small_field' : "big_field"%>></div>
    <ul id='notification_bar'>
    </ul>
    <%= yield %>

    <div id='footer'>
      <div class="container">
        <p><%= link_to "SETILIVE", "/" %></p>
        <p class="right"><%= link_to "CONTACT", "/contact" %></p>
        <p class="right"><%= link_to "TEAM", "/team" %></p>
        <p class="right"><%= link_to "ABOUT", "/about" %></p>
      </div>
    </div>

      <%= yield :head%>

  </body>


</html>
