<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">

    var exports = this;
    jQuery(function(){
        new LoginPage({el: $("body")});      
    });     
  </script>
<%end%>

<div id='login'>
  <div id ='login_header'>
    <h1>Welcome, Science Channel Viewers</h1>
    <p>Join SETILIVE and you can earn special badges that qualify you to win a trip for two to the SETI Institute in California and 
a private tour of the Radio Telescope Observatory at Hat Creek. Earn more badges and you’ll qualify for additional entries! </p>
  </div>

  <div id='login_lower'>
    <div id='science_channel'>
      <h2>You can use this login across all of the Zooniverse’s citizen science projects, so you 
only need to sign up once. We promise not to share your details with anyone else.</h2>
      

      <%= form_tag(signup_path, :id => "signup") do %>
        <%= hidden_field_tag(:return_to, @return_to) if @return_to and @return_to != root_url %>
      <div id='extra_signup_info' class='user_info_region'>
        <p>
          
          <%= text_field_tag "first_name", "First Name" %>
          <%= text_field_tag "last_name", "Last Name" %>
        </p> 
          <%= text_field_tag "address_1", "Address 1" %>
        <p>
          <%= text_field_tag "address_2", "Address 2" %>
          <%= text_field_tag "telephone", "Telephone" %>
        </p>
        <p>
          <%= text_field_tag "city", "City" %>
          <%= text_field_tag "state", "State" %>
          <%= text_field_tag "zipcode", "Zipcode" %>

        </p>
      </div>

      <div id='user_signup_info' class='user_info_region'>
        <%= text_field_tag "username", "Username" %>
        <%= password_field_tag "password", "Password" %>
        <%= password_field_tag "password_confirm", "Password Confirmation" %>
        <%= text_field_tag "email", "Email" %>

        <%= submit_tag "Register" %>

      </div>
      <%end %>

    </div>
    <div id='zooniverse_login'>
      <h2> Already have a Zooniverse username? Sign in here: </h2>
       <%= form_tag @cas_client.login_url do %>

          <%= text_field_tag :username,  "Username" , :width=>128%>
          <%= password_field_tag :password, "Password", :width=>128 %>
          
          <%= hidden_field_tag :service, @return_to %>
          <%= hidden_field_tag :lt, @cas_client.request_login_ticket %>
          <%= submit_tag "Login" %>

        <% end -%>
   
    </div>
  </div>
  
</div>