<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">

    var exports = this;
    jQuery(function(){
        new LoginPage({el: $("body")});      
    });     
  </script>
<%end%>


<div id='login'>
  <div id ='login_header'>
    <h1>Welcome to <strong>SETI</strong>Live</h1>
    <p class='blurb'>Join <strong>SETI</strong>LIVE and you ca help Scientists hunt for interesting signals from beyond the Earth. You can use this login across all of the Zooniverse’s citizen science projects, so you only need to sign up once. We promise not to share your details with anyone else.</p>
  </div>

  <% if flash[:error] %>
    <%flash[:error].each do |message|%>
      <div class='flash'><%=message%></div>
    <%end%>
  <%end%>

  <div id='login_lower'> 
    
  <div id="register">
   <%= form_tag(signup_path, :id => "signup") do %>
          <%= hidden_field_tag(:return_to, @return_to) if @return_to and @return_to != root_url %>

        <div class='login_section_header'><h2>Register for a zooniverse Account</h2> </div>
        <div class='login_section_lower'>
          <div id='user_signup_info' class='user_info_region'>
            <table>
              <tr>
                <td><div><%= text_field_tag "login" %> <span class='placeholder'>Login</span></div></td>
              </tr>
              <tr>
                <td><div><%= password_field_tag "password" %><span class='placeholder'>Password</span></div></td>
              </tr>
              <tr>
                <td><div><%= password_field_tag "password_confirmation"%><span class='placeholder'>Password Confirmation</span></div></td>
              </tr>
              <tr>
                <td><div><%= text_field_tag "email"%><span class='placeholder'>Email</span></div></td>
              </tr>
              <tr>
                <td><div><%= image_submit_tag "register.png",  :style=>"width:220px; height:40px" %></div></td>
              </tr>
            </table>            
          </div>
        <%end %>
      </div>
    </div>

    <div id='zooniverse_login'>
      <div class='login_section_header'><h2> Already have a Zooniverse username? Sign in here: </h2></div>
      <div class='login_section_lower'>

        <%= form_tag @cas_client.login_url do %>
         <table>
              <tr>
                <td><div><%= text_field_tag :username%><span class='placeholder'>Username</span></div></td>
              </tr>
              <tr>
                <td><div><%= password_field_tag :password%><span class='placeholder'>Password</span></div></td>
              </tr>
              <tr>
                <td><div>
                  <p><a href='https://www.zooniverse.org/password/reset'>Forgot your password ?</a>
                  </p>
                </div></td> 
              </tr>
              <tr>
                <td><div><%= hidden_field_tag :service, @return_to %>
                   <%= hidden_field_tag :lt, @cas_client.request_login_ticket %>
                  <%= image_submit_tag "login.png",  :style=>"width:220px; height:40px;margin-top:43px" %>

              </div></td>
              </tr>
            </table>    

        <% end -%>
      </div>
    </div>
  </div>
</div>