<% content_for :head do %>
  <script type="text/javascript" charset="utf-8">

    var exports = this;
    jQuery(function(){
        new LoginPage({el: $("body")});      
    });     
  </script>
<%end%>

<div id='login'>
  <div id ='login_header'>
    <h1>Welcome, Science Channel Viewers</h1>
    <p class='blurb'>Join <strong>SETI</strong>LIVE and you can earn special badges that qualify you to win a trip for two to the SETI Institute in California and 
a private tour of the Radio Telescope Observatory at Hat Creek. Earn more badges and you’ll qualify for additional entries!</p>
  </div>

  <div id='login_lower'>
    <div id='science_channel'>
      <div class='login_section_header'><h2>You can use this login across all of the Zooniverse’s citizen science projects, so you 
only need to sign up once. We promise not to share your details with anyone else. </h2></div>
      <div class='login_section_lower'>
        <%= form_tag(signup_path, :id => "signup") do %>
          <%= hidden_field_tag(:return_to, @return_to) if @return_to and @return_to != root_url %>
          <div id='extra_signup_info' class='user_info_region'>
            <table>
              <tr>
                <td class="first"><%= text_field_tag "first_name", "First Name" %></td>
                <td colspan="2"><%= text_field_tag "last_name", "Last Name" %></td>
              </tr>
              <tr>
                <td colspan="3"><%= text_field_tag "address_1", "Address 1" %></td>
              </tr>
              <tr>
                <td colspan="2" class="first"><%= text_field_tag "address_2", "Address 2" %></td>
                <td><%= text_field_tag "telephone", "Telephone" %></td>
              </tr>
              <tr>
                <td widht="50%" class="first"><%= text_field_tag "city", "City" %></td>
                <td width="20%" class="first"><%= text_field_tag "state", "State" %></td>
                <td width="30%"><%= text_field_tag "zipcode", "Zipcode" %></td>
              </tr>
              <tr>
                <td colspan="3">
                  <p class="disclaimer">This information will only be used to contact you if you are a winner</p>
                  <p class="disclaimer"><input type="checkbox" /> By checking this box you agree to the <strong>official rules.</strong></p>
                  
                  <p class="disclaimer"><input type="checkbox" /> No thanks! I don't want to be entered into the sweepstakes.</p>
                  
                </td>
              </tr>
            </table>
          </div>

          <div id='user_signup_info' class='user_info_region'>
            <table>
              <tr>
                <td><%= text_field_tag "username", "Username" %></td>
              </tr>
              <tr>
                <td><%= password_field_tag "password", "Password" %></td>
              </tr>
              <tr>
                <td><%= password_field_tag "password_confirm", "Password Confirmation" %></td>
              </tr>
              <tr>
                <td><%= text_field_tag "email", "Email" %></td>
              </tr>
              <tr>
                <td><%= image_submit_tag "register.png",  :style=>"width:220px; height:40px" %></td>
              </tr>
            </table>            
          </div>
        <%end %>
      </div>
    </div>
    <div id='zooniverse_login'>
      <div class='login_section_header'><h2> Already have a Zooniverse username? Sign in here: </h2> </div>
      <div class='login_section_lower'>

        <%= form_tag @cas_client.login_url do %>
          <p><%= text_field_tag :username, "Username" %></p>
          <p><%= password_field_tag :password, "Password" %></p>
            
          <%= hidden_field_tag :service, @return_to %>
          <%= hidden_field_tag :lt, @cas_client.request_login_ticket %>
          <%= image_submit_tag "login.png", :style => "width:200px; height:40px" %>

        <% end -%>
      <div>
    </div>
  </div>
  
</div>