  <% content_for :head do %>
  <script type="text/javascript" charset="utf-8">

    var exports = this;
    jQuery(function(){
        new LoginPage({el: $("body")});      

        $("input").focus(function(){
          $(this).attr("data-val", $(this).val())
          $(this).val("");
        });

        $("input").blur(function(){
          if($(this).val()==""){
            $(this).val($(this).attr("data-val"));
          }
        });
    });     
  </script>
<%end%>

<% if flash[:error] %>
  <%flash[:error].each do |message|%>
    <div id='flash'><%=message%></div>
  <%end%>
<%end%>
<div id='login'>
  <div id ='login_header'>

  
    <h1>Welcome to <strong>SETI</strong>Live?</h1>
    <p class='blurb'>Join <strong>SETI</strong>LIVE and you ca help Scientists hunt for interesting signals from beyond the Earth</p>
  </div>
  <div id='science_channel'>
      <div class='login_section_header'><h2>The Science Channel celebrates citizen science with <a hef='http://science.discovery.com/tv/are-we-alone/'>Are We Alone?" Month!</a> From March 1-31, 2012, when you participate in the SETI Live project, you'll earn badges that qualify you to win a trip for two to the SETI Institute in California and a private tour of the Radio Telescope Observatory at Hat Creek. Earn more badges and you'll qualify for additional entries! <br/>The information requested below will only be used to confirm your sweepstakes entry and to contact you if you are a winner. It will not be retained or shared by the SETI Live project or Zooniverse.</h2></div>
      <div class='login_section_lower'>
        <%= form_tag(sweeps_submit_path, :id => "sweeps_submit") do %>
          <%= hidden_field_tag(:return_to, @return_to) if @return_to and @return_to != root_url %>
          <div id='extra_signup_info' class='user_info_region'>
            <table>
              <tr>
                <td class="first"><%= text_field_tag "first_name", "First Name" %></td>
                <td colspan="2"><%= text_field_tag "last_name", "Last Name" %></td>
              </tr>
              <tr>
                <td colspan="3"><%= text_field_tag "address_1", "Address 1" %></td>
              </tr>
              <tr>
                <td colspan="2" class="first"><%= text_field_tag "address_2", "Address 2" %></td>
                <td><%= text_field_tag "telephone", "Telephone" %></td>
              
              </tr>
              <tr>
                <td widht="50%" class="first"><%= text_field_tag "city", "City" %></td>
                <td width="20%" class="first"><%= text_field_tag "state", "State" %></td>
                <td width="30%"><%= text_field_tag "zipcode", "Zipcode" %></td>
              </tr>
              <tr>
                <td colspan="3">
                  <p class="disclaimer">This information will only be used to contact you if you are a winner</p>
                  <p class="disclaimer"><input type="checkbox" /> By checking this box you agree to the <strong>official rules.</strong></p>     
                </td>
              </tr>
            </table>
            <div class='sweeps_buttons' style='float:right; margin-top:30px'>
              <%= image_submit_tag "register.png",  :style=>"width:220px; height:40px", :id=>'sweeps_register', :name=>'register' %>
              <%= image_submit_tag "button_nothanks.png",  :style=>"width:220px; height:40px",  :id=>'sweeps_no_thanks', :name=>'no_thanks' %>
            </div>
          </div>
        <%end%>
  </div>
  </div>
  
</div>